html {
    font-size: 1.1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --accent-color: #23B08F; 
    --dark-green: #145243; 
    --hover: #179a7b;
    font-family: 'Inter', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    width: 7.5vw;
    height: 100vh;
    background-color: var(--dark-green);
    position: fixed;
}

.ham-menu {
    display: none;
}

main {
    width: 88vw;
    margin-left: 10vw;
    height: fit-content;
    padding: 4rem 8rem;
    background-color: white;
}

.switcher-title {
    display: block;
    position: relative;
    width: 100%;
    padding: 2rem 0 4rem 0;
}

.logo-icon {
    width: 65%;
    height: 68%;
    margin: 0 auto 0 50%;
    transform: translateX(-50%);
}

.box {
    margin-bottom: 4rem;
    position: relative;
}

.shadow-box {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.personal-info {
    display: flex;
    gap: 6rem;
}

.personal-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 1rem;
}

.profile-pic {
    width:10rem;
}

.prob-box{
    display: flex;
    gap: 5rem;
}

.paper-entry {
    padding: 1rem;
    position: relative;
    margin-bottom: 1.5rem;
}

.paper-name {
    display: inline-block;
    width: 60%;
    overflow-x: hidden;
}

.paper-year {
    display: inline-block;
    width: 10%;
    color: var(--accent-color);
}

.paper-link {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.email-text {
    margin: 2rem auto 1rem 5%;
    resize: none;
    width: 90%;
    border: none;
    font-size: 1rem;
}

.email-text:focus {
    outline: none;
}

.primary-btn {
    background-color: var(--accent-color);
    color: white;
    margin: 0 0 2rem 5%;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    width: fit-content;
    padding: 0 1.2rem;
    height: 3rem;
    cursor: pointer;
    transition: all .2s;
}

.primary-btn:hover {
    background-color: var(--hover);
}

.span-btn {
    display: inline-block;
    line-height: 3rem;
    text-decoration: none;
}

.a-btn {
    text-decoration: none;
}

.network-container {
    padding: 1rem;
    height: 24rem;
}

#mynetwork {
    display: block;
    height: 20rem;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    float: left;
}

.citations {
    width: 80%;
}

.more-papers {
    height: 0;
    overflow-y: hidden;
    transition: height 1s;
}

.menu-link {
    display: block;
    height: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
}

.menu-link::before,
.menu-link::after {
    --scale: 0;
    --tooltip-color: rgb(0, 0, 0, 0.6);
    --arrow-size: .5rem;

    pointer-events: none;
    position: absolute; 
    left: 120%;
    top: 50%;
    transform: translateY(var(--translateY,0)) translateX(var(--translateX, 0)) scale(var(--scale)) rotate(var(--rotation, 0));
    transition: .15s transform .1s;
    transform-origin: left;
}

.menu-link::before {
    --translateY: -50%;
    --translateX: var(--arrow-size);
    content: attr(data-tooltip);
    border-radius: 10px;
    width: max-content;
    padding: .6rem;
    color: white;
    background-color: var(--tooltip-color);
}

.menu-link::after {
    --translateY: 0;
    --translateX: 0;
    --rotation: 90deg;
    content: "";
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top;
}

.menu-link:hover::before,
.menu-link:hover::after {
    --scale:1;
}

.menu-link svg {
    margin: 1rem 0;
}

/* Forms */
.inst-label {
    padding: .5rem 0;
}

select {
    border: none;
    padding: .5rem;
    font-size: 1rem;
    width: 100%;
}
select:focus {
    outline: none;
}
.select-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#search_btn {
    margin:  1rem 0 1rem 0;
}

.loading-circle {
    margin-left: 40%;
    margin-top: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border-top: 10px solid var(--accent-color);
    border-bottom: 10px solid white;
    border-right: 10px solid var(--accent-color);
    border-left: 10px solid white;
    animation: turn 2s linear infinite;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
        border-left: 10px solid white;
        border-bottom: 10px solid white;
        border-right: 10px solid var(--accent-color);
        border-top: 10px solid var(--accent-color);
    }
    50% {
        transform: rotate(180deg);
        border-left: 10px solid var(--accent-color);
        border-bottom: 10px solid var(--accent-color);
        border-right: 10px solid white;
        border-top: 10px solid white;
    }
    100% {
        transform: rotate(360deg);
        border-left: 10px solid white;
        border-bottom: 10px solid white;
        border-right: 10px solid var(--accent-color);
        border-top: 10px solid var(--accent-color);
    }
}

.author-entry {
    grid-template-columns: ;
}

.prob-stat {
    /* color: var(--accent-color); */
    display: inline-block;
    margin-bottom: 1rem;
}

.prob-circle {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: 6px;
    stroke-dasharray: 252;
}

.prob-perc {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: var(--accent-color);
    font-weight: bolder;
}

.welcome-box {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.drop-out-year {
    top: calc(1rem + 50px);
    font-size: 1.4rem;
}

#download-btn {
    color: var(--accent-color);
    text-decoration: none;
    text-align: right;
}

#download-btn:hover {
    cursor: pointer;
}

.actions-container {
    display: flex;
    justify-content: space-between;
}

.actions-flexed {
    max-width: 47%;
}

.tracklist-heading {
    padding: 0 16vw 0 0;
}

.tracklist-heading-empty {
    padding: 0 0 0 0;
}

.network-tab {
    padding: 1rem 1rem .5rem 1rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -12px 15px rgba(0, 0, 0, 0.05);
    background-color: white;
    transition: padding .2s ease-out;
}

.network-tab:hover {
    cursor: pointer;
    padding: 1.5rem 1rem .5rem 1rem;
}

.network-tab:first-of-type {
    color: var(--accent-color);
}

.info-circle {
    font-weight: bolder;
    color:white;
    display: inline-block;
    padding: .25rem .75rem;
    background-color: #c4c4c4;
    border-radius: 50%;
    position: relative;
    transition: background-color .1s linear;
}

.info-circle:hover {
    cursor: help;
    background-color: darkgrey;
}

.info-circle::before {
    --scale: 0;
    content: attr(data-info-text);
    --tooltip-color: rgb(0, 0, 0, 0.6);
    bottom: 3rem;
    position: absolute;
    width:max-content;
    max-width: 20rem;
    left:-50%;
    transform: translateX(-40%) scale(var(--scale));
    font-weight: normal;
    border-radius: 10px;
    padding: .5rem;
    background-color: var(--tooltip-color);
    transform-origin: bottom;
}

.info-circle:hover::before {
    --scale: 1;
}


/* Adapting for small screens */

@media only screen and (max-width:800px) {

    html {
        font-size: .8rem;
    }

    body {
        display: block;
    }

    .sidebar {
        position: relative;
        width: 100vw;
        height: 8vh;
        background-color: white;
        margin-bottom: 1rem;
    }

    ul {
        display: grid;
        padding-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--dark-green);
    }

    .switcher-title {
        display: none;
    }

    main {
        width: 99%;
        padding: 2rem;
        margin-left: .5%;
        margin-top: 4rem;
    }

    .personal-info {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .personal-stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .5rem; 
        row-gap: 1rem;
    }

    .profile-pic {
        width: 8rem;
    }
    
    .shadow-box {
        border-radius: 5px;
    }

    .paper-name {
        display: block;
    }
    
    .paper-year {
        display: block;
    }
    
    .paper-link {
        display: block;
        bottom: 25%;
    }

    .citations {
        width: 100%;
    }

    select {
        font-size: .8rem;
        width: 100%;
    }

    .select-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .inst-label {
        padding: 0;
    }

    .welcome-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .prob-box{
        display: block;
    }

    .drop-out-year {
        position: relative;
        top: 0;
        left: 45%;
        display: inline-block;
        margin-top: 2rem;
        transform: translate(-50%,0);
    }

    .actions-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .actions-flexed {
        max-width: 100%;
    }

}


@media only screen and (min-width:1300px) {

    .sidebar {
        width: 5vw;
    }

    .tracklist-heading {
        padding: 0 25vw 0 0;
    }

}