{% extends "layout.html" %}

{% block title %}
    <title>Homepage - switcher.io</title>
{% endblock title %}

{% block content %}
    <main>
        <h1>Is your institution affected by research brain drain?</h1>
        <div class="box">
            <div class="shadow-box" style="padding: 2rem;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi qui temporibus, molestias pariatur rerum modi, veniam amet minus saepe, eos possimus sed veritatis quasi recusandae reiciendis nostrum ipsa vel fuga.</p>
            </div>
        </div>
    </main>
{% endblock %}