{% extends "layout.html" %}

{% block title %}
    {% if profile_exists == True %}
        <title>{{ personal_info.author_name }} - switcher.io</title>
    {% else %}
        <title>Profile not found - switcher.io</title>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{{ url_for('static', filename='js/profile_download.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/tracklist.js') }}" defer></script>
{% endblock title %}

{% block content %}
{% if profile_exists == True %}
        <main>
            <div class="actions-container">
                <h1>{{personal_info.author_name}}</h1>
                <span id="download-btn">Save this profile</span>
            </div>
            <div class="box">
                <div class="shadow-box" style="padding: 2rem;">
                    <div class="personal-info">
                        <div class="personal-stats">
                            <span>Current institution:</span>
                            <span>{{ personal_info.last_inst }}</span>
                            <span>Total citations:</span>
                            <span>{{ personal_info.total_cits }}</span>
                            <span>Estimated location:</span>
                            <span>{{ personal_info.author_location }}</span>
                            <span>Associated institutions:</span>
                            <span>{{ personal_info.list_institutions }}</span>
                        </div>
                        <!-- <img class="profile-pic" src="../static/img/proifle.webp" alt="">                     -->
                    </div>
                </div>
            </div>

            <div class="box">
                <h3>Predictions</h3>
                <div class="shadow-box" style="padding: 2rem;">
                    <div class="prob-box">
                        <div>
                            <span class="prob-stat">Probability of switching:</span>
                            <div style="position:relative; width: fit-content; margin-left: 25%;">
                                <svg width="100" height="100" style="transform: rotate(-90deg);">
                                    <circle class="prob-circle" r="40" cx="50" cy="50" style="stroke-dashoffset: {{ prob_circle }};"></circle>
                                </svg>
                                <span class="prob-perc">{{ switching_prob }}%</span>
                            </div>
                        </div>
                        <div>
                            <span>In case of a switch, {{ personal_info.author_name }} might drop out</span>
                            <div style="padding:.5rem 0; position: relative;height: inherit;">
                                <span class="prob-perc drop-out-year">{{ soon_var }}</span>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>

            <div class="box">
                <h3>Citations per year</h3>
                <div class="shadow-box" style="padding: 2rem;">
                    <div class="citations">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="box">
                <h3>Network of {{personal_info.author_name}}</h3>
                <div class="shadow-box">
                    <div class="network-container">
                        <div id="mynetwork" class="card-body"></div>
                        <div>
                            <span>Number of coauthors: {{ length_coauthor }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <h3>Papers by {{ personal_info.author_name }}</h3>
                {% for paper in all_papers[:5] %}
                    <div class="shadow-box paper-entry">
                        <span class="paper-name">{{ paper.title }}</span>
                        <span class="paper-year">{{ paper.year }}</span>
                        <a class="paper-link" target="_blank" href="{{ paper.link }}">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_3_28)">
                                <path d="M14.375 0C13.5799 0 12.9375 0.642383 12.9375 1.4375C12.9375 2.23262 13.5799 2.875 14.375 2.875H18.09L9.04727 11.9223C8.48574 12.4838 8.48574 13.3957 9.04727 13.9572C9.60879 14.5188 10.5207 14.5188 11.0822 13.9572L20.125 4.90996V8.625C20.125 9.42012 20.7674 10.0625 21.5625 10.0625C22.3576 10.0625 23 9.42012 23 8.625V1.4375C23 0.642383 22.3576 0 21.5625 0H14.375ZM3.59375 1.4375C1.6082 1.4375 0 3.0457 0 5.03125V19.4062C0 21.3918 1.6082 23 3.59375 23H17.9688C19.9543 23 21.5625 21.3918 21.5625 19.4062V14.375C21.5625 13.5799 20.9201 12.9375 20.125 12.9375C19.3299 12.9375 18.6875 13.5799 18.6875 14.375V19.4062C18.6875 19.8016 18.3641 20.125 17.9688 20.125H3.59375C3.19844 20.125 2.875 19.8016 2.875 19.4062V5.03125C2.875 4.63594 3.19844 4.3125 3.59375 4.3125H8.625C9.42012 4.3125 10.0625 3.67012 10.0625 2.875C10.0625 2.07988 9.42012 1.4375 8.625 1.4375H3.59375Z" fill="black"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_3_28">
                                <rect width="23" height="23" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>    
                        </a>
                    </div>
                {% endfor %}
                {% if num_papers > 5 %}
                    <div class="more-papers">
                        {% for paper in all_papers[5:] %}
                            <div class="shadow-box paper-entry">
                                <span class="paper-name">{{ paper.title }}</span>
                                <span class="paper-year">{{ paper.year }}</span>
                                <a class="paper-link" target="_blank" href="{{ paper.link }}">
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_3_28)">
                                        <path d="M14.375 0C13.5799 0 12.9375 0.642383 12.9375 1.4375C12.9375 2.23262 13.5799 2.875 14.375 2.875H18.09L9.04727 11.9223C8.48574 12.4838 8.48574 13.3957 9.04727 13.9572C9.60879 14.5188 10.5207 14.5188 11.0822 13.9572L20.125 4.90996V8.625C20.125 9.42012 20.7674 10.0625 21.5625 10.0625C22.3576 10.0625 23 9.42012 23 8.625V1.4375C23 0.642383 22.3576 0 21.5625 0H14.375ZM3.59375 1.4375C1.6082 1.4375 0 3.0457 0 5.03125V19.4062C0 21.3918 1.6082 23 3.59375 23H17.9688C19.9543 23 21.5625 21.3918 21.5625 19.4062V14.375C21.5625 13.5799 20.9201 12.9375 20.125 12.9375C19.3299 12.9375 18.6875 13.5799 18.6875 14.375V19.4062C18.6875 19.8016 18.3641 20.125 17.9688 20.125H3.59375C3.19844 20.125 2.875 19.8016 2.875 19.4062V5.03125C2.875 4.63594 3.19844 4.3125 3.59375 4.3125H8.625C9.42012 4.3125 10.0625 3.67012 10.0625 2.875C10.0625 2.07988 9.42012 1.4375 8.625 1.4375H3.59375Z" fill="black"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_3_28">
                                        <rect width="23" height="23" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>    
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <span id="expand-info">... and another {{ num_papers - 5 }} papers</span>
                    <span class="primary-btn span-btn" id="expand-papers">Show all papers</span>
                {% endif %}
            </div>

            <div class="box">
                <div class="actions-container">
                    <div class="actions-flexed">
                        <h3>Get more insights, create a survey</h3>
                        <div class="shadow-box" style="padding: 2rem; min-height: ;">
                            <p>A survey lets you dive more into detail and gain knowledge on further fatcors, such as happiness at work etc.</p>
                            <a class="primary-btn span-btn" href="#" style="margin: 2rem 0 0 0">Create a survey</a>
                        </div>
                    </div>
                    <div class="actions-flexed">
                        <h3>Keep an open eye, expand your tracklist</h3>
                        <div class="shadow-box" style="padding: 2rem; min-height: max-content;">
                            <p>Add this profile to your tracking list and get a notification once our analysis's result changes.</p>
                            <span class="primary-btn span-btn" id="add-to-tracklist" style="margin: 2rem 0 0 0">Add to tracklist</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <h3>Get in touch, prepare an email</h3>
                <div class="shadow-box contact-form">
                    <textarea class="email-text" name="" id="email-prepared" cols="90" rows="12">
Dear Mrs./Mr. {{ personal_info.author_surname }},

I have read your paper on “Transformer models for autonomous driving”.
Very great work!

We want you in our company!

Best regards,
John Doe
                    </textarea>
                    <button class="primary-btn" id="copy-mail-text">Copy email text</button>
                </div>
            </div>
        </main>

        <script>
            {% if num_papers > 5 %}
                var xpanded = false

                const xpanderBtn = document.getElementById("expand-papers")
                const xpanderBox = document.querySelector(".more-papers")
                const xpanderInfo = document.getElementById("expand-info")
                const info_text = xpanderInfo.innerText
                xpanderBtn.addEventListener("click", () => {
                    if (xpanded == false) {
                        xpanderBox.style.height = "fit-content"
                        xpanderBtn.innerText = "Show less"
                        xpanderInfo.innerText = ""
                        xpanded = true
                    }
                    else if (xpanded == true) {
                        xpanderBox.style.height = "0"
                        xpanderBtn.innerText = "Show all"
                        xpanderInfo.innerText = info_text
                        xpanded = false
                    }
                })
            {% endif %}

            const ctx = document.getElementById('myChart');
        
            new Chart(ctx, {
                data: {
                    datasets: [
                        {   
                            type: 'line',
                            label: 'Average citations',
                            data: {{ average_citations }},
                            borderColor: '#c4c4c4',
                            backgroundColor: '#c4c4c4'
                        },
                        {
                            type: 'bar',
                            label: 'Number of citations',
                            data: {{ all_citation_counts }},
                            borderColor: '#23B08F',
                            backgroundColor: '#23B08F'
                        }
                    ],
                    labels: {{all_years_list}}
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // initialize global variables.
            const node_list = {{ node_list|safe }}
            const edge_list = {{ edge_list|safe }}
            var edges;
            var nodes;
            var allNodes;
            var allEdges;
            var nodeColors;
            var originalNodes;
            var network;
            var container;
            var options, data;
            var filter = {
                item : '',
                property : '',
                value : []
            };
            // This method is responsible for drawing the graph, returns the drawn network
            function drawGraph() {
                var container = document.getElementById('mynetwork');
                // parsing and collecting nodes and edges from the python
                nodes = new vis.DataSet(node_list); 
                edges = new vis.DataSet(edge_list);

                nodeColors = {};
                allNodes = nodes.get({ returnType: "Object" });
                for (nodeId in allNodes) {
                nodeColors[nodeId] = allNodes[nodeId].color;
                }
                allEdges = edges.get({ returnType: "Object" });
                // adding nodes and edges to the graph
                data = {nodes: nodes, edges: edges};

                var options = {
                    "configure": {
                    "enabled": false
                    },
                    "edges": {
                    "color": {
                        "inherit": true
                    },
                    "smooth": {
                        "enabled": true,
                        "type": "dynamic"
                    }
                    },
                    "interaction": {
                    "dragNodes": true,
                    "hideEdgesOnDrag": false,
                    "hideNodesOnDrag": false
                    },
                    "physics": {
                    "enabled": true,
                    "stabilization": {
                        "enabled": true,
                        "fit": true,
                        "iterations": 1000,
                        "onlyDynamicEdges": false,
                        "updateInterval": 50
                    }
                    }
                    };
                network = new vis.Network(container, data, options);
                return network;
            }
            drawGraph();

            function clearSelection() {
                if (window.getSelection) {window.getSelection().removeAllRanges();}
                else if (document.selection) {document.selection.empty();}
            }

            document.getElementById("copy-mail-text").addEventListener("click", () => {
                const email_prewriter = document.getElementById("email-prepared")
                email_prewriter.select()
                email_prewriter.setSelectionRange(0, 99999)
                navigator.clipboard.writeText(email_prewriter.value)

                clearSelection()

                let copy_notification = document.createElement("div")
                copy_notification.innerText = "Text was copied successfully."
                copy_notification.style.backgroundColor = "gray"
                copy_notification.style.padding = "1rem 2rem"
                copy_notification.style.width = "fit-content"
                copy_notification.style.position = "fixed"
                copy_notification.style.color = "white"
                copy_notification.style.left = "50vw"
                copy_notification.style.bottom = "5vh"
                copy_notification.style.borderRadius = "10px"
                copy_notification.style.transform = "translateX(-50%)"
                copy_notification.style.transition = ".5s all linear"

                document.body.append(copy_notification)

                setTimeout(() => {
                    copy_notification.style.opacity = "0"

                    setTimeout(() => {
                        copy_notification.remove()
                    }, 500)
                }, 3000)
            })

            let on_tracklist = {{ on_tracklist }}
        </script>
    {% else %}
        <main>
            <h1>The researcher cannot be found in our database. Contact support.</h1>
        </main>
    {% endif %}
{% endblock content %}


    
